body {
  font-family: "Arial, sans-serif";
  line-height: 1.6;
  color: white;
  background-color: #333;
}

h1 {
  color: white;
}

.theme-switcher {
  display: inline-block;
  margin: 10px;
  font-size: 1em;
}

input[type="radio"] {
  margin-right: 5px;
}

label {
  color: white;
}
